<%- include("header") %>

        <div class="todo-list">
        <div class="heading">
            <h1><%=listTitle%></h1>
        </div>  
        <div class="list">
                <% for(let i = 0; i < newItems.length; i++){ %>
                    <div class="item">
                        <input type="checkbox">
                        <p><%= newItems[i] %></p>
                    </div>
                <% } %>
            <form class="item" action="/" method="post">
                <input type="text" name="newActivity" placeholder="New Activity" autocomplete="off" autofocus>
                <button class="button" type="submit" name="list" value="<%= listTitle %>">+</button>
            </form>
        </div>
        </div>

<%- include("footer") %>

 

